<header class="header header-responsive" id="site-header-responsive">

    <div class="header-content-wrapper">
        <a href="#" class="link-find-friend">소통카드</a>
        <a href="#" class="link-find-friend">소통상자</a>
    </div>

    <!-- Tab panes -->

    <!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header -->

<div class="header-spacer"></div>

<!-- Top Header -->

<!-- ... end Top Header -->

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb">
                        <img src="/static/images/top-header1.jpg" alt="nature">
                    </div>
                    <div class="profile-section">
                        <div class="row">
                            <div class="col-md-8 col-md-push-4" style="padding-left: 50px;">
                                <a href="#" class="h3 author-name">빅히스토리 모임</a>
                                <a href="#" class="h6"><i class="fa fa-cog" aria-hidden="true"></i></a>

                                <div class="country">2017.09.12</div>
                            </div>

                            <div class="col-md-4 col-md-pull-8" style="font-size: 30px;">
                                <i class="fa fa-file-text-o" aria-hidden="true" style=""> 7136 </i>
                                <i class="fa fa-smile-o" aria-hidden="true"> 63 </i>
                                <button class="btn btn-primary btn-md-2 sotong-join-btn">소통상자 참여<div class="ripple-container"></div></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-xl-12">
            <div class="ui-block-title">
                <h6 class="title">최신피드</h6>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xl-6">
            <div class="ui-block video-item">

                <div class="ribbon">
                    <img src="/static/images/clip_png/hot.png">
                </div>

                <div class="video-player">
                    <img src="/static/images/1.jpg" alt="photo">
                </div>

                <div class="ui-block-content2 video-content">
                    <a href="#" class="title">빅히스토리</a>
                    <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                    <ul class="widget w-friend-pages-added notification-list friend-requests">
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="/static/images/avatar41-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                <span class="chat-message-item">레벨1</span>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="post-additional-info inline-items">

                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                        <span>15</span>
                    </a>

                    <ul class="friends-harmonic">
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                            </a>
                        </li>
                    </ul>

                    <div class="names-people-likes">
                        <a href="#">꿈꾸는 과학자</a>외
                        <br>20명이 좋아
                    </div>

                </div>

                <div class="control-block-button post-control-button">

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                        <div class="ripple-container"></div></a>

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                    </a>

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                    </a>

                </div>

            </div>
        </div>

        <div class="col-xl-6">
            <div class="ui-block video-item">

                <div class="ribbon">
                    <img src="/static/images/clip_png/new.png">
                </div>

                <div class="video-player">
                    <img src="/static/images/2.jpg" alt="photo">
                </div>

                <div class="ui-block-content2 video-content">
                    <a href="#" class="title">빅히스토리</a>
                    <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                    <ul class="widget w-friend-pages-added notification-list friend-requests">
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="/static/images/avatar41-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                <span class="chat-message-item">레벨1</span>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="post-additional-info inline-items">

                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                        <span>15</span>
                    </a>

                    <ul class="friends-harmonic">
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                            </a>
                        </li>
                    </ul>

                    <div class="names-people-likes">
                        <a href="#">꿈꾸는 과학자</a>외
                        <br>20명이 좋아함
                    </div>


                </div>

                <div class="control-block-button post-control-button">

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                        <div class="ripple-container"></div></a>

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                    </a>

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                    </a>

                </div>

            </div>
        </div>

        <div class="col-xl-6">
            <div class="ui-block video-item">

                <div class="video-player">
                    <img src="/static/images/2.jpg" alt="photo">
                </div>

                <div class="ui-block-content2 video-content">
                    <a href="#" class="title">빅히스토리</a>
                    <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                    <ul class="widget w-friend-pages-added notification-list friend-requests">
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="/static/images/avatar41-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                <span class="chat-message-item">레벨1</span>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="post-additional-info inline-items">

                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                        <span>15</span>
                    </a>

                    <ul class="friends-harmonic">
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                            </a>
                        </li>
                    </ul>

                    <div class="names-people-likes">
                        <a href="#">꿈꾸는 과학자</a>외
                        <br>20명이 좋아함
                    </div>

                </div>

                <div class="control-block-button post-control-button">

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                        <div class="ripple-container"></div></a>

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                    </a>

                    <a href="#" class="btn btn-control">
                        <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                    </a>

                </div>

            </div>
        </div>

    </div>



</div>

<div class="ui-block window-popup create-photo-album search">
    <a href="" class="icon-close js-close-popup">
        <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
    </a>

    <div class="ui-block-content">
        <div class="form-group with-button">
            <input class="form-control" placeholder="" value="" type="text">

            <button class="bg-grey">
                <i class="fa fa-search js-open-popup" data-popup-target=".search" aria-hidden="true" style="font-size: 18px;"></i>
            </button>

            <span class="material-input"></span></div>
    </div>

</div>
