<header class="header header-responsive" id="site-header-responsive">

    <div class="header-content-wrapper">
        <a href="#" class="link-find-friend">소통카드</a>
        <a href="#" class="link-find-friend">소통상자</a>
    </div>

    <!-- Tab panes -->

    <!-- ... end  Tab panes -->

</header>

<div class="header-spacer"></div>

<!-- ... end Responsive Header -->

<div class="container">
  <div class="jin-ui-block responsive-flex" style="margin-top:20px;">
    <div class="ui-block-title checkbox clicked row">
      <select name="category" class="selectpicker form-control col-sm-2">
         <option value="A">모든 클래스</option>
         <option value="B">내 클래스</option>
    </select>
      <select name="list" class="selectpicker form-control col-sm-2">
         <option value="A">최신순</option>
         <option value="B">인기순</option>
    </select>
      <div class="checkbox" style="float:right; margin-top:20px;">
        <label>
            <input type="checkbox" name="optionsCheckboxes">나의 클래스
        </label>
      </div>
    </div>
  </div>

	<div class="row">


		<div class="col-xl-12">
			<h2 class="presentation-margin">클래스 목록</h2>
		</div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="friend-item friend-groups create-group" data-mh="friend-groups-item" style="height: 398.6px;">

				<a href="#" class="js-open-popup full-block" data-popup-target=".create-friend-group-1"></a>
				<div class="content">

					<a href="#" class="js-open-popup btn btn-control bg-blue" data-popup-target=".create-friend-group-1">
						<svg class="olymp-plus-icon"><use xlink:href="icons/icons.svg#olymp-plus-icon"></use></svg>
					</a>

					<div class="author-content">
						<a href="#" class="h5 author-name">My Family</a>
						<div class="country">6 Friends in the Group</div>
					</div>

				</div>

			</div>

		</div>

		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="ui-block">
				<div class="friend-item fav-page">
					<div class="friend-header-thumb">
						<img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
					</div>

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">키작은 진세은</a>
								<div class="country">씨발</div>
							</div>
						</div>

						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="friend-count" data-swiper-parallax="-500">
										<a href="#" class="friend-count-item">
											<div class="h6">48</div>
											<div class="title">강의 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">5630</div>
											<div class="title">수강생 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">12</div>
											<div class="title">수강평 수</div>
										</a>
									</div>
									<div class="control-block-button" data-swiper-parallax="-100">
										<a href="#" class="btn btn-control bg-primary">
											<svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
										</a>

										<a href="#" class="btn btn-control bg-purple">
											<svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
										</a>

									</div>
								</div>

								<div class="swiper-slide">
									<p class="friend-about" data-swiper-parallax="-500">
										진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
									</p>

									<div class="friend-since" data-swiper-parallax="-100">
										<div>Website:</div>
										<a href="#" class="h6">www.8:45 니뽄나라로.com</a>
									</div>
								</div>
							</div>

							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="ui-block">
				<div class="friend-item fav-page">
					<div class="friend-header-thumb">
						<img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
					</div>

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">키작은 진세은</a>
								<div class="country">씨발</div>
							</div>
						</div>

						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="friend-count" data-swiper-parallax="-500">
										<a href="#" class="friend-count-item">
											<div class="h6">48</div>
											<div class="title">강의 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">5630</div>
											<div class="title">수강생 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">12</div>
											<div class="title">수강평 수</div>
										</a>
									</div>
									<div class="control-block-button" data-swiper-parallax="-100">
										<a href="#" class="btn btn-control bg-primary">
											<svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
										</a>

										<a href="#" class="btn btn-control bg-purple">
											<svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
										</a>

									</div>
								</div>

								<div class="swiper-slide">
									<p class="friend-about" data-swiper-parallax="-500">
										진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
									</p>

									<div class="friend-since" data-swiper-parallax="-100">
										<div>Website:</div>
										<a href="#" class="h6">www.8:45 니뽄나라로.com</a>
									</div>
								</div>
							</div>

							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="ui-block">
				<div class="friend-item fav-page">
					<div class="friend-header-thumb">
						<img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
					</div>

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">키작은 진세은</a>
								<div class="country">씨발</div>
							</div>
						</div>

						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="friend-count" data-swiper-parallax="-500">
										<a href="#" class="friend-count-item">
											<div class="h6">48</div>
											<div class="title">강의 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">5630</div>
											<div class="title">수강생 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">12</div>
											<div class="title">수강평 수</div>
										</a>
									</div>
									<div class="control-block-button" data-swiper-parallax="-100">
										<a href="#" class="btn btn-control bg-primary">
											<svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
										</a>

										<a href="#" class="btn btn-control bg-purple">
											<svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
										</a>

									</div>
								</div>

								<div class="swiper-slide">
									<p class="friend-about" data-swiper-parallax="-500">
										진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
									</p>

									<div class="friend-since" data-swiper-parallax="-100">
										<div>Website:</div>
										<a href="#" class="h6">www.8:45 니뽄나라로.com</a>
									</div>
								</div>
							</div>

							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="ui-block">
				<div class="friend-item fav-page">
					<div class="friend-header-thumb">
						<img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
					</div>

					<div class="friend-item-content">

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Report Profile</a>
								</li>
								<li>
									<a href="#">Block Profile</a>
								</li>
								<li>
									<a href="#">Turn Off Notifications</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb">
								<img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
							</div>
							<div class="author-content">
								<a href="#" class="h5 author-name">키작은 진세은</a>
								<div class="country">씨발</div>
							</div>
						</div>

						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="friend-count" data-swiper-parallax="-500">
										<a href="#" class="friend-count-item">
											<div class="h6">48</div>
											<div class="title">강의 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">5630</div>
											<div class="title">수강생 수</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">12</div>
											<div class="title">수강평 수</div>
										</a>
									</div>
									<div class="control-block-button" data-swiper-parallax="-100">
										<a href="#" class="btn btn-control bg-primary">
											<svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
										</a>

										<a href="#" class="btn btn-control bg-purple">
											<svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
										</a>

									</div>
								</div>

								<div class="swiper-slide">
									<p class="friend-about" data-swiper-parallax="-500">
										진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
									</p>

									<div class="friend-since" data-swiper-parallax="-100">
										<div>Website:</div>
										<a href="#" class="h6">www.8:45 니뽄나라로.com</a>
									</div>
								</div>
							</div>

							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="ui-block">
        <div class="friend-item fav-page">
          <div class="friend-header-thumb">
            <img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
          </div>

          <div class="friend-item-content">

            <div class="more">
              <svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
              <ul class="more-dropdown">
                <li>
                  <a href="#">Report Profile</a>
                </li>
                <li>
                  <a href="#">Block Profile</a>
                </li>
                <li>
                  <a href="#">Turn Off Notifications</a>
                </li>
              </ul>
            </div>
            <div class="friend-avatar">
              <div class="author-thumb">
                <img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
              </div>
              <div class="author-content">
                <a href="#" class="h5 author-name">키작은 진세은</a>
                <div class="country">씨발</div>
              </div>
            </div>

            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="friend-count" data-swiper-parallax="-500">
                    <a href="#" class="friend-count-item">
                      <div class="h6">48</div>
                      <div class="title">강의 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">5630</div>
                      <div class="title">수강생 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">12</div>
                      <div class="title">수강평 수</div>
                    </a>
                  </div>
                  <div class="control-block-button" data-swiper-parallax="-100">
                    <a href="#" class="btn btn-control bg-primary">
                      <svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
                    </a>

                    <a href="#" class="btn btn-control bg-purple">
                      <svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                    </a>

                  </div>
                </div>

                <div class="swiper-slide">
                  <p class="friend-about" data-swiper-parallax="-500">
                    진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
                  </p>

                  <div class="friend-since" data-swiper-parallax="-100">
                    <div>Website:</div>
                    <a href="#" class="h6">www.8:45 니뽄나라로.com</a>
                  </div>
                </div>
              </div>

              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="ui-block">
        <div class="friend-item fav-page">
          <div class="friend-header-thumb">
            <img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
          </div>

          <div class="friend-item-content">

            <div class="more">
              <svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
              <ul class="more-dropdown">
                <li>
                  <a href="#">Report Profile</a>
                </li>
                <li>
                  <a href="#">Block Profile</a>
                </li>
                <li>
                  <a href="#">Turn Off Notifications</a>
                </li>
              </ul>
            </div>
            <div class="friend-avatar">
              <div class="author-thumb">
                <img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
              </div>
              <div class="author-content">
                <a href="#" class="h5 author-name">키작은 진세은</a>
                <div class="country">씨발</div>
              </div>
            </div>

            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="friend-count" data-swiper-parallax="-500">
                    <a href="#" class="friend-count-item">
                      <div class="h6">48</div>
                      <div class="title">강의 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">5630</div>
                      <div class="title">수강생 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">12</div>
                      <div class="title">수강평 수</div>
                    </a>
                  </div>
                  <div class="control-block-button" data-swiper-parallax="-100">
                    <a href="#" class="btn btn-control bg-primary">
                      <svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
                    </a>

                    <a href="#" class="btn btn-control bg-purple">
                      <svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                    </a>

                  </div>
                </div>

                <div class="swiper-slide">
                  <p class="friend-about" data-swiper-parallax="-500">
                    진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
                  </p>

                  <div class="friend-since" data-swiper-parallax="-100">
                    <div>Website:</div>
                    <a href="#" class="h6">www.8:45 니뽄나라로.com</a>
                  </div>
                </div>
              </div>

              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="ui-block">
        <div class="friend-item fav-page">
          <div class="friend-header-thumb">
            <img src="/static/images/1.jpg" alt="friend" width="318px" height="122px">
          </div>

          <div class="friend-item-content">

            <div class="more">
              <svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
              <ul class="more-dropdown">
                <li>
                  <a href="#">Report Profile</a>
                </li>
                <li>
                  <a href="#">Block Profile</a>
                </li>
                <li>
                  <a href="#">Turn Off Notifications</a>
                </li>
              </ul>
            </div>
            <div class="friend-avatar">
              <div class="author-thumb">
                <img src="/static/images/users/고양이.png" alt="author" width="92px" height="92px">
              </div>
              <div class="author-content">
                <a href="#" class="h5 author-name">키작은 진세은</a>
                <div class="country">씨발</div>
              </div>
            </div>

            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="friend-count" data-swiper-parallax="-500">
                    <a href="#" class="friend-count-item">
                      <div class="h6">48</div>
                      <div class="title">강의 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">5630</div>
                      <div class="title">수강생 수</div>
                    </a>
                    <a href="#" class="friend-count-item">
                      <div class="h6">12</div>
                      <div class="title">수강평 수</div>
                    </a>
                  </div>
                  <div class="control-block-button" data-swiper-parallax="-100">
                    <a href="#" class="btn btn-control bg-primary">
                      <svg class="olymp-star-icon"><use xlink:href="icons/icons.svg#olymp-star-icon"></use></svg>
                    </a>

                    <a href="#" class="btn btn-control bg-purple">
                      <svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                    </a>

                  </div>
                </div>

                <div class="swiper-slide">
                  <p class="friend-about" data-swiper-parallax="-500">
                    진세 일본가면 존나 힘들겠따 씨이발 씨이이이빨! 뚞!배기
                  </p>

                  <div class="friend-since" data-swiper-parallax="-100">
                    <div>Website:</div>
                    <a href="#" class="h6">www.8:45 니뽄나라로.com</a>
                  </div>
                </div>
              </div>

              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Window-popup Create Friends Group -->

    <div class="card-ui-block window-popup create-friend-group create-friend-group-1">
    	<a href="" class="icon-close js-close-popup">
    		<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
    	</a>

    	<div class="ui-block-title">
    		<h6 class="title">클래스 만들기</h6>
    	</div>

    	<div class="ui-block-content">
    		<form class="form-group label-floating">
    			<label class="control-label">클래스 제목</label>
    			<input class="form-control" placeholder="" value="" type="text" name="c_title">
    		</form>

        <form class="form-group label-floating">
          <label class="control-label">클래스 소개</label>
          <textarea name="c_content" class="form-control" rows="8" cols="80"></textarea>

        </form>


        <form class="form-group label-floating imageWrap">
          <input type="file" name="" value="">

        </form>


        <form class="form-group label-floating">
          <label class="control-label">금액 / 미설정 시 무료로 판단합니다.</label>
          <input name="number" class="form-control" rows="8" cols="80"></input>

        </form>

    		<form class="form-group label-floating is-select">
    			<svg class="olymp-happy-face-icon"><use xlink:href="icons/icons.svg#olymp-happy-face-icon"></use></svg>

    			<select class="selectpicker form-control style-2 show-tick" multiple data-max-options="2" data-live-search="true">
    				<option title="Green Goo Rock" data-content='<div class="inline-items">
    										<div class="author-thumb">
    											<img src="img/avatar52-sm.jpg" alt="author">
    										</div>
    											<div class="h6 author-title">Green Goo Rock</div>

    										</div>'>
    				</option>

    				<option title="Mathilda Brinker" data-content='<div class="inline-items">
    											<div class="author-thumb">
    												<img src="img/avatar74-sm.jpg" alt="author">
    											</div>
    											<div class="h6 author-title">Mathilda Brinker</div>
    										</div>'>
    				</option>

    				<option title="Marina Valentine" data-content='<div class="inline-items">
    											<div class="author-thumb">
    												<img src="img/avatar48-sm.jpg" alt="author">
    											</div>
    											<div class="h6 author-title">Marina Valentine</div>
    										</div>'>
    				</option>

    				<option title="Dave Marinara" data-content='<div class="inline-items">
    											<div class="author-thumb">
    												<img src="img/avatar75-sm.jpg" alt="author">
    											</div>
    											<div class="h6 author-title">Dave Marinara</div>
    										</div>'>
    				</option>

    				<option title="Rachel Howlett" data-content='<div class="inline-items">
    											<div class="author-thumb">
    												<img src="img/avatar76-sm.jpg" alt="author">
    											</div>
    											<div class="h6 author-title">Rachel Howlett</div>
    										</div>'>
    				</option>

    			</select>
    		</form>

    		<a href="#" class="btn btn-blue btn-lg full-width">Create Group</a>
    	</div>


    </div>
