<!DOCTYPE html>
<html lang="en">
<head>

    <title>소통상자</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap-grid.css">
    <!--<link rel="stylesheet" type="text/css" href="css/non-responsive.css">-->

    <!-- Theme Styles CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/theme-styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/blocks.css">

    <!-- Main Font -->
    <script src="/static/js/webfontloader.min.js"></script>
    <script src="/static/js/login/register.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">

    <link rel="stylesheet" type="text/css" href="/static/css/daterangepicker.css">


    <!-- Styles for plugins -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sotong.custom.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Lightbox popup script-->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">

</head>
<body>


  <header class="header" id="site-header">

      <div class="page-title">
          <a href="#" class="logo">
              <img src="/static/images/logo-sotong.png" alt="Olympus">
          </a>
      </div>

      <div class="header-content-wrapper align-center">

          <a href="#" class="link-find-friend">소통카드</a>
          <a href="#" class="link-find-friend">소통상자</a>

          <div class="control-block">

              <div class="control-icon more has-items" >
                  <i class="fa fa-search js-open-popup" data-popup-target=".search" aria-hidden="true" style="font-size: 18px;" ></i>
              </div>

              <div class="control-icon more has-items">
                  <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 18px;"></i>
                  <div class="label-avatar bg-primary">8</div>

                  <div class="more-dropdown more-with-triangle triangle-top-center">
                      <div class="ui-block-title ui-block-title-small">
                          <h4>알림</h4>
                      </div>

                      <div class="mCustomScrollbar" data-mcs-theme="dark">
                          <ul class="notification-list">
                              <li>
                                  <div class="author-thumb">
                                      <img src="/static/images/avatar62-sm.jpg" alt="author">
                                  </div>
                                  <div class="notification-event" style="margin-left: 10px;">
                                      <div><a href="#" class="h6 notification-friend">백설공주</a> 님이 댓글에 남겼습니다</div>
                                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                  </div>

                                  <div class="more">
                                      <svg class="olymp-little-delete"><use xlink:href="/static/icons/icons.svg#olymp-little-delete"></use></svg>
                                  </div>
                              </li>

                              <li>
                                  <div class="author-thumb">
                                      <img src="/static/images/avatar62-sm.jpg" alt="author">
                                  </div>
                                  <div class="notification-event" style="margin-left: 10px;">
                                      <div><a href="#" class="h6 notification-friend">백설공주</a> 님이 댓글에 남겼습니다</div>
                                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                  </div>

                                  <div class="more">
                                      <svg class="olymp-little-delete"><use xlink:href="/static/icons/icons.svg#olymp-little-delete"></use></svg>
                                  </div>
                              </li>

                              <li>
                                  <div class="author-thumb">
                                      <img src="/static/images/avatar62-sm.jpg" alt="author">
                                  </div>
                                  <div class="notification-event" style="margin-left: 10px;">
                                      <div><a href="#" class="h6 notification-friend">백설공주</a> 님이 댓글에 남겼습니다</div>
                                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                  </div>

                                  <div class="more">
                                      <svg class="olymp-little-delete"><use xlink:href="icons/icons.svg#olymp-little-delete"></use></svg>
                                  </div>
                              </li>

                              <li>
                                  <div class="author-thumb">
                                      <img src="/static/images/avatar62-sm.jpg" alt="author">
                                  </div>
                                  <div class="notification-event" style="margin-left: 10px;">
                                      <div><a href="#" class="h6 notification-friend">백설공주</a> 님이 댓글에 남겼습니다</div>
                                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                  </div>

                                  <div class="more">
                                      <svg class="olymp-little-delete"><use xlink:href="icons/icons.svg#olymp-little-delete"></use></svg>
                                  </div>
                              </li>

                              <li>
                                  <div class="author-thumb">
                                      <img src="/static/images/avatar62-sm.jpg" alt="author">
                                  </div>
                                  <div class="notification-event" style="margin-left: 10px;">
                                      <div><a href="#" class="h6 notification-friend">백설공주</a> 님이 댓글에 남겼습니다</div>
                                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                  </div>

                                  <div class="more">
                                      <svg class="olymp-little-delete"><use xlink:href="/static/icons/icons.svg#olymp-little-delete"></use></svg>
                                  </div>
                              </li>

                              <li>
                                  <div class="author-thumb">
                                      <img src="/static/images/avatar62-sm.jpg" alt="author">
                                  </div>
                                  <div class="notification-event" style="margin-left: 10px;">
                                      <div><a href="#" class="h6 notification-friend">백설공주</a> 님이 댓글에 남겼습니다</div>
                                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                  </div>

                                  <div class="more">
                                      <svg class="olymp-little-delete"><use xlink:href="/static/icons/icons.svg#olymp-little-delete"></use></svg>
                                  </div>
                              </li>

                          </ul>
                      </div>

                      <a href="#" class="view-all bg-primary">더 보기</a>
                  </div>
              </div>

              <div class="author-page author vcard inline-items more">
                  <a href="#" class="author-name fn js-open-popup" data-popup-target=".create-event">
                      로그인/
                  </a>
                  <a href="#" class="author-name fn js-open-popup" data-popup-target=".create-user">
                      회원가입
                  </a>
              </div>

          </div>
      </div>

  </header>

  <!-- ... end Header -->

  <header class="header header-responsive" id="site-header-responsive">

      <div class="header-content-wrapper">
          <a href="#" class="link-find-friend">소통카드</a>
          <a href="#" class="link-find-friend">소통상자</a>
      </div>

      <!-- Tab panes -->

      <!-- ... end  Tab panes -->

  </header>

  <div class="header-spacer"></div>

  <!-- Top Header -->

  <!-- ... end Top Header -->

  <div class="container">

      <div class="row">

          <div class="col-xl-9">
              <div class="row">
                  <div class="ui-block-title">
                      <h6 class="title">인기 소통상자</h6>

                      <div class="more">
                         <a href="#" class="h6">전체보기 ></a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xl-4">
                      <div class="ui-block video-item">
                          <div class="video-player">
                              <img src="/static/images/3.jpg" alt="photo">
                          </div>

                          <div class="ui-block-content video-content">
                              <a href="#" class="h6">빅히스토리</a>

                              <ul class="widget w-friend-pages-added notification-list friend-requests">
                                  <li class="inline-items">
                                      <div class="author-thumb">
                                          <img src="/static/images/avatar41-sm.jpg" alt="author">
                                      </div>
                                      <div class="notification-event">
                                          <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                          <span class="chat-message-item">레벨1</span>
                                      </div>
                                  </li>
                              </ul>

                          </div>

                          <div class="ui-block-content video-content">

                              <div class="comments-shared">
                                  <a href="#" class="post-add-icon inline-items">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <span>17</span>
                                  </a>

                                  <a href="#" class="post-add-icon inline-items">
                                      <i class="fa fa-smile-o" aria-hidden="true"></i>
                                      <span>24</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-xl-4">
                      <div class="ui-block video-item">
                          <div class="video-player">
                              <img src="/static/images/2.jpg" alt="photo">
                          </div>

                          <div class="ui-block-content video-content">
                              <a href="#" class="h6">빅히스토리</a>

                              <ul class="widget w-friend-pages-added notification-list friend-requests">
                                  <li class="inline-items">
                                      <div class="author-thumb">
                                          <img src="/static/images/avatar41-sm.jpg" alt="author">
                                      </div>
                                      <div class="notification-event">
                                          <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                          <span class="chat-message-item">레벨1</span>
                                      </div>
                                  </li>
                              </ul>

                          </div>

                          <div class="ui-block-content video-content">

                              <div class="comments-shared">
                                  <a href="#" class="post-add-icon inline-items">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <span>17</span>
                                  </a>

                                  <a href="#" class="post-add-icon inline-items">
                                      <i class="fa fa-smile-o" aria-hidden="true"></i>
                                      <span>24</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>



                  <div class="col-xl-4">
                      <div class="ui-block video-item">
                          <div class="video-player">
                              <img src="/static/images/1.jpg" alt="photo">
                          </div>

                          <div class="ui-block-content video-content">
                              <a href="#" class="h6">빅히스토리</a>

                              <ul class="widget w-friend-pages-added notification-list friend-requests">
                                  <li class="inline-items">
                                      <div class="author-thumb">
                                          <img src="/static/images/avatar41-sm.jpg" alt="author">
                                      </div>
                                      <div class="notification-event">
                                          <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                          <span class="chat-message-item">레벨1</span>
                                      </div>
                                  </li>
                              </ul>

                          </div>

                          <div class="ui-block-content video-content">

                              <div class="comments-shared">
                                  <a href="#" class="post-add-icon inline-items">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <span>17</span>
                                  </a>

                                  <a href="#" class="post-add-icon inline-items">
                                      <i class="fa fa-smile-o" aria-hidden="true"></i>
                                      <span>24</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xl-3">
              <div class="row">
                  <div class="ui-block-title">
                      <h6 class="title">랭크</h6>

                      <div class="more">
                          <div class="more">
                              주간 <i class="fa fa-sort-desc" aria-hidden="true"></i>
                          </div>
                          <ul class="more-dropdown">
                              <li>
                                  <a href="#">주간</a>
                              </li>
                              <li>
                                  <a href="#">일간</a>
                              </li>
                              <li>
                                  <a href="#">월간</a>
                              </li>
                          </ul>
                      </div>

                  </div>
              </div>

              <div class="row">

                  <div class="col-xl-12">

                      <div class="ui-block">
                          <ol class="widget w-playlist">

                              <li class="js-open-popup" >
                                  <div class="playlist-thumb">
                                      <img src="/static/images/playlist6.jpg" alt="thumb-composition">
                                  </div>

                                  <div class="composition">
                                      <a href="#" class="composition-name">꿈꾸는과학자</a>
                                      <a href="#" class="composition-author">레벨1</a>
                                  </div>

                                  <div class="composition-time">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <time class="published">32,160p</time>
                                  </div>

                              </li>

                              <li class="js-open-popup" >
                                  <div class="playlist-thumb">
                                      <img src="/static/images/playlist6.jpg" alt="thumb-composition">
                                  </div>

                                  <div class="composition">
                                      <a href="#" class="composition-name">꿈꾸는과학자</a>
                                      <a href="#" class="composition-author">레벨1</a>
                                  </div>

                                  <div class="composition-time">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <time class="published" datetime="2017-03-24T18:18">32,160p</time>
                                  </div>

                              </li>

                              <li class="js-open-popup" >
                                  <div class="playlist-thumb">
                                      <img src="/static/images/playlist6.jpg" alt="thumb-composition">
                                  </div>

                                  <div class="composition">
                                      <a href="#" class="composition-name">꿈꾸는과학자</a>
                                      <a href="#" class="composition-author">레벨1</a>
                                  </div>

                                  <div class="composition-time">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <time class="published" datetime="2017-03-24T18:18">32,160p</time>
                                  </div>

                              </li>


                              <li class="js-open-popup" >
                                  <div class="playlist-thumb">
                                      <img src="/static/images/playlist6.jpg" alt="thumb-composition">
                                  </div>

                                  <div class="composition">
                                      <a href="#" class="composition-name">꿈꾸는과학자</a>
                                      <a href="#" class="composition-author">레벨1</a>
                                  </div>

                                  <div class="composition-time">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <time class="published" datetime="2017-03-24T18:18">32,160p</time>
                                  </div>

                              </li>

                              <li class="js-open-popup" >
                                  <div class="playlist-thumb">
                                      <img src="/static/images/playlist6.jpg" alt="thumb-composition">
                                  </div>

                                  <div class="composition">
                                      <a href="#" class="composition-name">꿈꾸는과학자</a>
                                      <a href="#" class="composition-author">레벨1</a>
                                  </div>

                                  <div class="composition-time">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <time class="published" datetime="2017-03-24T18:18">32,160p</time>
                                  </div>

                              </li>

                              <li class="js-open-popup" >
                                  <div class="playlist-thumb">
                                      <img src="/static/images/playlist6.jpg" alt="thumb-composition">
                                  </div>

                                  <div class="composition">
                                      <a href="#" class="composition-name">꿈꾸는과학자</a>
                                      <a href="#" class="composition-author">레벨1</a>
                                  </div>

                                  <div class="composition-time">
                                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                      <time class="published" datetime="2017-03-24T18:18">32,160p</time>
                                  </div>

                              </li>
                          </ol>

                      </div>
                  </div>

              </div>

          </div>

      </div>

      <hr/>

      <div class="row">

          <div class="col-xl-12">
              <div class="ui-block-title">
                  <h6 class="title">최신피드</h6>
                  <div class="more">
                      <div class="more">
                          모든소통카드 <i class="fa fa-sort-desc" aria-hidden="true"></i>
                      </div>
                      <ul class="more-dropdown">
                          <li>
                              <a href="#">내 소통카드</a>
                          </li>
                          <li>
                              <a href="#">융합교육</a>
                          </li>
                          <li>
                              <a href="#">예술/창의</a>
                          </li>
                          <li>
                              <a href="#">로봇/드론</a>
                          </li>
                          <li>
                              <a href="#">IoT</a>
                          </li>
                          <li>
                              <a href="#">코딩교육</a>
                          </li>
                          <li>
                              <a href="#">3D프린팅</a>
                          </li>
                      </ul>
                  </div>
              </div>



          </div>

      </div>

      <div class="row">

          <div class="col-xl-4">
              <div class="ui-block video-item">

                  <div class="ribbon">
                      <img src="/static/images/clip_png/hot.png">
                  </div>

                  <div class="video-player">
                      <img src="/static/images/1.jpg" alt="photo">
                  </div>

                  <div class="ui-block-content2 video-content">
                      <a href="#" class="title">빅히스토리</a>
                      <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                      <ul class="widget w-friend-pages-added notification-list friend-requests">
                          <li class="inline-items">
                              <div class="author-thumb">
                                  <img src="/static/images/avatar41-sm.jpg" alt="author">
                              </div>
                              <div class="notification-event">
                                  <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                  <span class="chat-message-item">레벨1</span>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="post-additional-info inline-items">

                      <a href="#" class="post-add-icon inline-items">
                          <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                          <span>15</span>
                      </a>

                      <ul class="friends-harmonic">
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                              </a>
                          </li>
                      </ul>

                      <div class="names-people-likes">
                          <a href="#">꿈꾸는 과학자</a>외
                          <br>20명이 좋아
                      </div>

                  </div>

                  <div class="control-block-button post-control-button">

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                          <div class="ripple-container"></div></a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                      </a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                      </a>

                  </div>

              </div>
          </div>

          <div class="col-xl-4">
              <div class="ui-block video-item">

                  <div class="ribbon">
                      <img src="/static/images/clip_png/new.png">
                  </div>

                  <div class="video-player">
                      <img src="/static/images/2.jpg" alt="photo">
                  </div>

                  <div class="ui-block-content2 video-content">
                      <a href="#" class="title">빅히스토리</a>
                      <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                      <ul class="widget w-friend-pages-added notification-list friend-requests">
                          <li class="inline-items">
                              <div class="author-thumb">
                                  <img src="/static/images/avatar41-sm.jpg" alt="author">
                              </div>
                              <div class="notification-event">
                                  <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                  <span class="chat-message-item">레벨1</span>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="post-additional-info inline-items">

                      <a href="#" class="post-add-icon inline-items">
                          <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                          <span>15</span>
                      </a>

                      <ul class="friends-harmonic">
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                              </a>
                          </li>
                      </ul>

                      <div class="names-people-likes">
                          <a href="#">꿈꾸는 과학자</a>외
                          <br>20명이 좋아함
                      </div>


                  </div>

                  <div class="control-block-button post-control-button">

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                          <div class="ripple-container"></div></a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                      </a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                      </a>

                  </div>

              </div>
          </div>

          <div class="col-xl-4">
              <div class="ui-block video-item">

                  <div class="video-player">
                      <img src="/static/images/3.jpg" alt="photo">
                  </div>

                  <div class="ui-block-content2 video-content">
                      <a href="#" class="title">빅히스토리</a>
                      <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                      <ul class="widget w-friend-pages-added notification-list friend-requests">
                          <li class="inline-items">
                              <div class="author-thumb">
                                  <img src="/static/images/avatar41-sm.jpg" alt="author">
                              </div>
                              <div class="notification-event">
                                  <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                  <span class="chat-message-item">레벨1</span>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="post-additional-info inline-items">

                      <a href="#" class="post-add-icon inline-items">
                          <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                          <span>15</span>
                      </a>

                      <ul class="friends-harmonic">
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                              </a>
                          </li>
                      </ul>

                      <div class="names-people-likes">
                          <a href="#">꿈꾸는 과학자</a>외
                          <br>20명이 좋아함
                      </div>

                  </div>

                  <div class="control-block-button post-control-button">

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                          <div class="ripple-container"></div></a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                      </a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                      </a>

                  </div>

              </div>
          </div>

          <div class="col-xl-4">
              <div class="ui-block video-item">

                  <div class="video-player">
                      <img src="/static/images/2.jpg" alt="photo">
                  </div>

                  <div class="ui-block-content2 video-content">
                      <a href="#" class="title">빅히스토리</a>
                      <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                      <ul class="widget w-friend-pages-added notification-list friend-requests">
                          <li class="inline-items">
                              <div class="author-thumb">
                                  <img src="/static/images/avatar41-sm.jpg" alt="author">
                              </div>
                              <div class="notification-event">
                                  <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                  <span class="chat-message-item">레벨1</span>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="post-additional-info inline-items">

                      <a href="#" class="post-add-icon inline-items">
                          <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                          <span>15</span>
                      </a>

                      <ul class="friends-harmonic">
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                              </a>
                          </li>
                      </ul>

                      <div class="names-people-likes">
                          <a href="#">꿈꾸는 과학자</a>외
                          <br>20명이 좋아함
                      </div>

                  </div>

                  <div class="control-block-button post-control-button">

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                          <div class="ripple-container"></div></a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                      </a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                      </a>

                  </div>

              </div>
          </div>

          <div class="col-xl-4">
              <div class="ui-block video-item">

                  <div class="video-player">
                      <img src="/static/images/1.jpg" alt="photo">
                  </div>

                  <div class="ui-block-content2 video-content">
                      <a href="#" class="title">빅히스토리</a>
                      <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                      <ul class="widget w-friend-pages-added notification-list friend-requests">
                          <li class="inline-items">
                              <div class="author-thumb">
                                  <img src="/static/images/avatar41-sm.jpg" alt="author">
                              </div>
                              <div class="notification-event">
                                  <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                  <span class="chat-message-item">레벨1</span>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="post-additional-info inline-items">

                      <a href="#" class="post-add-icon inline-items">
                          <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                          <span>15</span>
                      </a>

                      <ul class="friends-harmonic">
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                              </a>
                          </li>
                      </ul>

                      <div class="names-people-likes">
                          <a href="#">꿈꾸는 과학자</a>외
                          <br>20명이 좋아함
                      </div>

                  </div>

                  <div class="control-block-button post-control-button">

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                          <div class="ripple-container"></div></a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                      </a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                      </a>

                  </div>

              </div>
          </div>

          <div class="col-xl-4">
              <div class="ui-block video-item">

                  <div class="video-player">
                      <img src="/static/images/2.jpg" alt="photo">
                  </div>

                  <div class="ui-block-content2 video-content">
                      <a href="#" class="title">빅히스토리</a>
                      <time class="published">외국인에게 프리젠테이션을 하는 경우, 듣는 사람들이 사용하는 언어를 사용하는 것이 일반적이다. 그런데 해 본 사람들은 잘 알겠지만… 프리젠터 입장에서는 꽤 어려운 일이다. 앞으로는 프리젠테이션시 이런 언어 ..</time>

                      <ul class="widget w-friend-pages-added notification-list friend-requests">
                          <li class="inline-items">
                              <div class="author-thumb">
                                  <img src="/static/images/avatar41-sm.jpg" alt="author">
                              </div>
                              <div class="notification-event">
                                  <a href="#" class="h6 notification-friend">꿈꾸는 과학자</a>
                                  <span class="chat-message-item">레벨1</span>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="post-additional-info inline-items">

                      <a href="#" class="post-add-icon inline-items">
                          <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-heart-icon"></use></svg>
                          <span>15</span>
                      </a>

                      <ul class="friends-harmonic">
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic5.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic10.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic7.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic8.jpg" alt="friend">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/static/images/friend-harmonic2.jpg" alt="friend">
                              </a>
                          </li>
                      </ul>

                      <div class="names-people-likes">
                          <a href="#">꿈꾸는 과학자</a>외
                          <br>20명이 좋아함
                      </div>

                  </div>

                  <div class="control-block-button post-control-button">

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-like-post-icon"></use></svg>
                          <div class="ripple-container"></div></a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                      </a>

                      <a href="#" class="btn btn-control">
                          <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/icons/icons.svg#olymp-share-icon"></use></svg>
                      </a>

                  </div>

              </div>
          </div>

      </div>



  </div>


  <!-- Window-popup Create Friends Group -->

  <div class="ui-block window-popup create-event">
      <a href="" class="icon-close js-close-popup">
          <svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
      </a>

      <div class="ui-block-title bg-primary">
          <h6 class="align-center">
              <img src="/static/images/logo_w.png">
          </h6>
      </div>

      <form class="" action="/auth/login" method="post">
      <div class="ui-block-content">
          <div class="form-group label-floating is-empty">
              <label class="control-label">아이디</label>
              <input class="form-control" type="text" name="username" placeholder="">
              <span class="material-input"></span>
          </div>

          <div class="form-group label-floating is-empty">
              <label class="control-label">비밀번호</label>
              <input class="form-control" type="password" name="password" placeholder="">
              <span class="material-input"></span>
          </div>

          <div class="remember">
              <div class="checkbox">
                  <label>
                      <input name="optionsCheckboxes" type="checkbox">
                      아이디저장
                  </label>
              </div>
              <a href="#" class="forgot js-open-popup findpass_popup">비밀번호 찾기</a><a href="#" class="forgot">아이디찾기 |</a>
          </div>

          <div class="row">
              <div class="col-lg-6 col-sm-12">
                  <input type="submit" class="btn btn-smoke btn-md btn-light-bg full-width" name="" value="로그인">
              </div>

              <div class="col-lg-6 col-sm-12">
                  <a href="#" class="btn btn-primary btn-md full-width js-open-popup register_popup">회원가입</a>
                  <!-- js-open-popup 팝업 열기-->
              </div>
          </div>
        </form>


          <hr/>

          <div class="row">
              <div class="col-lg-6">
                  <a href="/auth/facebook" class="btn bg-facebook full-width btn-icon-left"><i class="fa fa-facebook" aria-hidden="true"></i>페이스북 로그인<div class="ripple-container"></div></a>
              </div>

              <div class="col-lg-6">
                  <a href="/auth/google" class="btn bg-primary btn-icon-left"><i class="fa fa-google" aria-hidden="true"></i><div class="ripple-container"></div></a>
                  <a href="/auth/twitter" class="btn bg-blue btn-icon-left"><i class="fa fa-twitter" aria-hidden="true"></i><div class="ripple-container"></div></a>
                  <a href="/auth/naver" class="btn bg-green btn-icon-left"><i class="fa fa-naver" aria-hidden="true"></i><div class="ripple-container"></div></a>
              </div>



          </div>


      </div>

  </div>

  <!-- 회원가입 팝업 -->
  <div class="ui-block window-popup create-user">
    <a href="" class="icon-close js-close-popup">
        <svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
    </a>

    <div class="ui-block-title bg-primary">
        <h6 class="align-center">
            <img src="/static/images/logo_w.png">
        </h6>
    </div>

    <form class="" action="/auth/register" method="post">
    <div class="ui-block-content">
        <div class="form-group label-floating is-empty">
            <label class="control-label">이메일</label>
            <input class="form-control" type="text" name="username" id="emailVal" placeholder="">
            <span id="resultEmail" class="material-input"></span>
        </div>

        <div class="form-group label-floating is-empty">
            <label class="control-label">비밀번호</label>
            <input class="form-control" type="password" name="password" id="pass" placeholder="">
            <span class="material-input"></span>
        </div>

        <div class="form-group label-floating is-empty">
            <label class="control-label">비밀번호 확인</label>
            <input class="form-control" type="password" name="passwordConfirm" id="passConfirm" placeholder="">
            <span class="material-input"></span>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <input type="submit" name="" value="회원가입" class="btn btn-primary btn-md full-width" id="save">
            </div>
        </div>
      </form>


        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <a href="/auth/facebook" class="btn btn-md bg-facebook full-width btn-icon-left"><i class="fa fa-facebook" aria-hidden="true"></i>페이스북 로그인<div class="ripple-container"></div></a>
            </div>

            <div class="col-lg-6">
                <a href="/auth/google" class="btn btn-md bg-primary full-width btn-icon-left"><i class="fa fa-google" aria-hidden="true"></i>구글 로그인<div class="ripple-container"></div></a>
            </div>
        </div>


    </div>


  </div>

  <!-- 이메일 팝업 -->
  <div class="ui-block window-popup create-emailpopup">
    <a href="" class="icon-close email-close-popup">
        <svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
    </a>

    <div class="ui-block-title bg-primary">
        <h6 class="align-center">
            <img src="/static/images/logo_w.png">
        </h6>
    </div>

    <div class="ui-block-content">
        <h2>인증메일 발송 완료</h2><br>
        <h4>인증메일을 발송했습니다.<br>
        메일에서 확인을 해주시면, <br>
        이어서 회원가입을 할 수 있습니다.</h4>


        <hr/>

      </div>


    </div>

<!-- 비밀번호 찾기 팝업 -->
<div class="ui-block window-popup create-findpass">
  <a href="" class="icon-close js-close-popup">
      <svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
  </a>

  <div class="ui-block-title bg-primary">
      <h6 class="align-center">
          <img src="/static/images/logo_w.png">
      </h6>
  </div>

  <form class="" action="/findpass" method="post">
  <div class="ui-block-content">
      <div class="form-group label-floating is-empty">
          <label class="control-label">이메일</label>
          <input class="form-control" type="text" name="username" id="emailVal" placeholder="">
          <span class="material-input"></span>
      </div>

      <div class="row">
          <div class="col-lg-12 col-sm-12">
              <input type="submit" name="" value="비밀번호 찾기" class="btn btn-primary btn-md full-width" id="findpass">
          </div>
      </div>
    </form>


      <hr/>


  </div>


</div>


  <div class="ui-block window-popup create-photo-album search">
      <a href="" class="icon-close js-close-popup">
          <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
      </a>

      <div class="ui-block-content">
          <div class="form-group with-button">
              <input class="form-control" placeholder="" value="" type="text">

              <button class="bg-grey">
                  <i class="fa fa-search js-open-popup" data-popup-target=".search" aria-hidden="true" style="font-size: 18px;"></i>
              </button>

              <span class="material-input"></span></div>
      </div>

  </div>
  <input type="hidden" name="message" value="<%=message%>" id="message">
  <input type="hidden" name="user" value="<%= user %>" id="user">

  <!-- ... end Window-popup Create Friends Group -->


  <!-- jQuery first, then Other JS. -->
  <script src="/static/js/jquery-3.2.0.min.js"></script>
  <!-- Js effects for material design. + Tooltips -->
  <script src="/static/js/material.min.js"></script>
  <!-- Helper scripts (Tabs, Equal height, Scrollbar, etc) -->
  <script src="/static/js/theme-plugins.js"></script>
  <!-- Init functions -->
  <script src="/static/js/main.js"></script>

  <!-- Select / Sorting script -->
  <script src="/static/js/selectize.min.js"></script>

  <!-- Datepicker input field script-->
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/daterangepicker.min.js"></script>
  <script src="/static/js/kim/snsDuplication.js"></script>
<!-- Header -->


</body>
</html>
