.buttonWrap {
  position: relative;
  float: left;
  overflow: hidden;
  cursor: pointer;
  background-image: url('/static/images/gray-camera-icon.png');
  width: 399px;
  height: 320px;
  border-bottom: 1px solid #e6ecf5;
  border-top: 1px solid #e6ecf5;
  border-left: 1px solid #e6ecf5;
  border-right: 1px solid #e6ecf5;
}
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#FFBF00;}

.buttonWrap input {
  position：absolute;
  margin-left: -10px;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-opacity: 0;
  cursor: pointer;
  width: 399px;
  height: 320px;
}

.newBox-ui-block-content {
  padding: 24px 23px 0px;
}

.newBox-ui-block-title {
  padding: 23px 25px 18px;
  line-height: 1;
  display: table;
  width: 100%;
  position: relative;
}

.newBox-ui-block-title .more {
  padding-left: 25px;
  text-align: right;
  width: 16px;
}

.newBox-ui-block-title>* {
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}

.newBox-ui-block-title .title {
  color: #515365;
}

.newBox-ui-block-title.ui-block-title-small {
  padding: 10px 25px;
}

.newBox-ui-block-title.ui-block-title-small .title {
  font-size: 9px;
  text-transform: capitalize;
  color: #9a9fbf;
}

.newBox-ui-block-title:first-child {
  border-top: none;
}

.newBox-ui-block-title .btn {
  display: inline-block;
  margin-bottom: 0;
}

.newBox-ui-block-title .btn+* {
  margin-left: 20px;
}

.newBox-ui-block-title.inline-items .more {
  float: right;
  margin-top: 6px;
  padding-left: 0;
}

.newBox-ui-block-title+.ui-block-title {
  border-bottom: none;
}

.newBox-ui-block-title .icon-add {
  margin-right: 0;
}
.jin-ui-block {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px; }
  .ui-block .ui-block-title:last-child {
    border-bottom: 0; }

.ui-block-title {
  padding: 23px 25px 18px;
  line-height: 1;
  border-bottom: 1px solid #e6ecf5;
  border-top: 1px solid #e6ecf5;
  display: table;
  width: 100%;
  position: relative; }
  .ui-block-title .more {
    padding-left: 25px;
    text-align: right;
    width: 16px; }
  .ui-block-title > * {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle; }
  .ui-block-title .title {
    color: #515365; }
  .ui-block-title.ui-block-title-small {
    padding: 10px 25px; }
    .ui-block-title.ui-block-title-small .title {
      font-size: 9px;
      text-transform: uppercase;
      color: #9a9fbf; }
  .ui-block-title:first-child {
    border-top: none; }
  .ui-block-title .btn {
    display: inline-block;
    margin-bottom: 0; }
    .ui-block-title .btn + * {
      margin-left: 20px; }
  .ui-block-title.inline-items .more {
    float: right;
    margin-top: 6px;
    padding-left: 0; }
  .ui-block-title + .ui-block-title {
    border-bottom: none; }
  .ui-block-title .icon-add {
    margin-right: 0; }

#accordion + .ui-block-title {
  border-top: none;
  border-bottom: none; }

.ui-block-content {
  padding: 24px 23px 23px; }

@media (max-width: 640px) {
  .ui-block.responsive-flex .ui-block-title {
    display: flex;
    flex-direction: column; }
    .ui-block.responsive-flex .ui-block-title > * {
      margin-bottom: 10px; }
    .ui-block.responsive-flex .ui-block-title .points {
      text-align: left; }
  .ui-block.responsive-flex .block-btn {
    text-align: left;
    padding-right: 0; }
    .ui-block.responsive-flex .block-btn .btn + .btn {
      margin-top: 0; }
  .ui-block.responsive-flex .more {
    padding-left: 0; }
  .ui-block.responsive-flex .photo-gallery {
    position: relative;
    right: auto;
    order: 5;
    left: -26px;
    bottom: -29px;
    top: auto; }
    .ui-block.responsive-flex .photo-gallery.nav-tabs .nav-item {
      border-top: 1px solid #e6ecf5; }
  .ui-block.responsive-flex .w-search {
    width: auto; }
  .ui-block.responsive-flex .bootstrap-select.without-border.btn-group .dropdown-toggle .filter-option {
    text-align: left; }
  .ui-block.responsive-flex .align-right {
    text-align: left; } }

@media (max-width: 480px) {
  .ui-block-content.display-flex.content-around {
    flex-direction: column; }
    .ui-block-content.display-flex.content-around > * {
      margin-bottom: 15px; } }

@media (max-width: 320px) {
  .ui-block-title .btn + .btn {
    margin-left: 0;
    margin-top: 15px; } }

    .jin-registration-login-form {
      border: 1px solid #e6ecf5;
      border-radius: 0 5px 5px 0;
      background-color: #fff;
      overflow: hidden;
      position: relative;
      }
      .jin-registration-login-form .nav-tabs {
        float: left;
        display: block;
        height: 100%;
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; }
      .jin-registration-login-form .nav-item {
        margin-bottom: 0;
        height: 50%;
        display: table; }
        .jin-registration-login-form .nav-item:last-child .nav-link {
          border-bottom: 0; }
      .jin-registration-login-form .nav-link {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #e6ecf5;
        border-right: 1px solid #e6ecf5;
        padding: 25px;
        color: #c0c4d8;
        fill: #c0c4d8;
        background-color: #fafbfd;
        height: 100%;
        display: table-cell;
        vertical-align: middle; }
        .jin-registration-login-form .nav-link.active {
          fill: #ff5e3a;
          background-color: #fff;
          border-color: #e6ecf5; }
        .jin-registration-login-form .nav-link svg {
          width: 21px;
          height: 21px; }
      .jin-registration-login-form .tab-content {
        overflow: hidden; }
      .jin-registration-login-form .content {
        padding: 35px 25px; }
      .jin-registration-login-form .title {
        padding: 25px;
        border-bottom: 1px solid #e6ecf5;
        margin-bottom: 0; }
      .jin-registration-login-form p {
        margin-bottom: 0;
        font-size: 13px; }
      .jin-registration-login-form .remember {
        margin: 35px 0 25px; }
