
<div class="container" style="margin-top:1px;">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title inline-items">
          <div class="btn btn-control btn-control-small bg-orange">
            <svg class="olymp-trophy-icon"><use xlink:href="icons/icons.svg#olymp-trophy-icon"></use></svg>
          </div>
          <h6 class="title">강좌 소개</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top:1px;">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block features-video">
        <iframe width="840" height="472.5" src="https://www.youtube.com/embed/<%=rows3[0].b_index%>" frameborder="0" allowfullscreen></iframe>
        <div class="features-video-content">

          <article class="hentry post">

            <div class="post__author author vcard inline-items">



              <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
                <ul class="more-dropdown">
                  <li>
                    <a href="#">Edit Post</a>
                  </li>
                  <li>
                    <a href="#">Delete Post</a>
                  </li>
                  <li>
                    <a href="#">Turn Off Notifications</a>
                  </li>
                  <li>
                    <a href="#">Select as Featured</a>
                  </li>
                </ul>
              </div>

            </div>

            <p style="font-size:14px"><%=rows[0].c_content%></p>


        </div>

      </div>
    </div>
  </div>
</div>
