<div class="container" style="margin-top:1px;">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title inline-items">
          <div class="btn btn-control btn-control-small bg-orange">
            <svg class="olymp-trophy-icon"><use xlink:href="icons/icons.svg#olymp-trophy-icon"></use></svg>
          </div>
          <h6 class="title">Q & A</h6>
          <div class="align-right" style="float:right;">
            <a href="#" class="js-open-popup btn btn-primary btn-md-2" id="make_button" data-popup-target=".make-question">질문 등록하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h2 class="presentation-margin"></h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="ui-block video-item">
        <div class="video-player">
          <img src="img/video10.jpg" alt="photo">
          <a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
            <svg class="olymp-play-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#olymp-play-icon"></use></svg>
          </a>
          <div class="overlay overlay-dark"></div>

          <div class="more"><svg class="olymp-three-dots-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#olymp-three-dots-icon"></use></svg></div>
        </div>

        <div class="ui-block-content video-content">
          <a href="#" class="h6 title">Rock Garden Festival - Day 3</a>
          <time class="published" datetime="2017-03-24T18:18">18:44</time>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Window-popup Create Friends Group -->

<form class="uploadForm" action="/class/Inner/<%=rows[0].c_no%>/newQuestion" method="post" enctype="multipart/form-data">
  <div class="ui-block window-popup make-question ">
    <a class="icon-close js-close-popup">
      <svg class="olymp-close-icon"><use xlink:href="/static/icons/icons.svg#olymp-close-icon"></use></svg>
    </a>
    <div class="ui-block-title bg-primary">
      <h6 class="align-center" style="color:white">질문 생성</h6>
    </div>
    <div class="newBox-ui-block-content">
      <div class="form-group label-floating is-empty">
        <label class="control-label">질문 제목</label>
        <input name="b_title" class="form-control" type="text" placeholder="">
        <span class="material-input"></span>
      </div>
    </div>
    <input type='hidden' name='c_no' id="c_no" value="<%= rows[0].c_no%>" />
    <input type='hidden' name='b_me_no' id="b_me_no" value="bm0003" />
    <div class="form-group label-floating is-empty ui-block" style="margin:25px; margin-bottom:0px">
      <label class="control-label">내용</label>
      <textarea name="b_content" id="b_content" class="form-control" rows="8" cols="40"></textarea>
    </div>
    <div class="ui-block-content">
      <span class="buttonWrap ui-block-content"><input type="file" name="userfile" id="userfile"></span>
      <div id="image_preview" style="display:none">
        <a href="#">사진 지우기</a>
        <br>
        <img src="#" width="399" />
        <br />
      </div>
      <hr>
      <div id="copy" name="copy">
      </div>
    </div>
    <div class="ui-block-content">
      <h6 class="title" style="">인덱스</h6>
      <div>
        <div class="">
          <div class="radio">
            <div class="ui-block-content row">
              <input class="col-sm-3" type="text" name="course" id="course" maxlength="4" style="width:60px;" placeholder="강">
              <input class="col-sm-3" type="text" name="hour" id="hour" maxlength="2" style="width:60px;" placeholder="시">
              <input class="col-sm-3" type="text" name="minute" id="minute" maxlength="2" style="width:60px;" placeholder="분">
              <input class="col-sm-3" type="text" name="second" id="second" maxlength="2" style="width:60px;" placeholder="초">
            </div>
          </div>
        </div>
        <div class="row ui-block-content">
          <input type="submit" class="btn btn-primary btn-md full-width" value="질문 등록" />
        </div>
      </div>
    </div>
  </div>
</form>
