<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/login/openAddRegister.js"></script>
  </head>
  <body>
    <input type="hidden" name="username" id="uname" value="<%=id%>">
  </body>
</html>
