<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(user && user.displayName){ %>
      <%= user.displayName %>
      <div class="">
        <% result.forEach(function(item, index){ %>
          console.log(item);
        <%});%>
      </div>

      <a href="/auth/logout">logout</a>
    <%}%>
    <% else %>
    <%{%>
      <h1>Welcome</h1>
        <ul>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/reg">Register</a></li>
        </ul>
    <%}%>
  </body>
</html>
