<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>비밀번호 찾기</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <body>
    <div class="">
      <h1>비밀번호 찾기</h1>
      <form class="" action="findpass" method="post">
        <input type="email" name="username" value="" placeholder="이메일을 적어주세요">
        <input type="submit" name="submit" value="전송">
      </form>
      <a href="/auth/login">로그인으로</a>
    </div>
  </body>
</html>
