<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <script src=""></script>
  <body>
    <input type="hidden" id="loginConfirm" value="<%=message%>">
    <% if(user && user.m_nickname){ %>
      <%- include('../index.ejs') %>
    <% }else { %>
      <%- include('../index-login.ejs') %>
      <% if(message.length > 0 ){%>
      <script type="text/javascript">
          alert($("#loginConfirm").val());
      </script>
      <% } else { %>

      <% } %>
    <%}%>

  </body>
</html>
