<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/js/login/register.js"></script>
  <body>
    <h1>회원가입</h1>
    <form class="" action="/auth/register" method="post">
      <p>
        <input type="email" name="username" id="emailVal" value="" placeholder="이메일" required>
        <button type="button" name="button" id="emailConfirm">등록확인</button>
        <span id="resultEmail"></span>
      </p>
      <p>
        <input type="password" id="pass" name="password" value="" placeholder="비밀번호" required>
      </p>
      <p>
        <input type="password" id="passConfirm" name="passwordConfirm" value="" placeholder="비밀번호 확인" required>
      </p>
      <!-- <p>
        <input type="text" name="displayName" id="displayNameVal" value="" placeholder="닉네임 추가" required>
        <button type="button" name="button" id="displayNameConfirm">중복확인</button>
        <span id="resultDisplayName"></span>
      </p> -->
      <p>
        <input type="submit" name="" id="save" value="회원가입">
      </p>
    </form>
      <p>
        <h4>타 SNS와 연동하기</h4>
      </p>
      <p>
        <button type="button" name="button"><a href="/auth/facebook">facebook</a></button>
        <button type="button" name="button"><a href="/auth/twitter">twitter</a></button>
        <button type="button" name="button"><a href="/auth/google">google</a></button>
        <button type="button" name="button"><a href="/auth/naver">naver</a></button>
      </p>
  </body>
</html>
