<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){
      $("#save").on("click", function(){
        var checkedCount = $("#selectedCount:checked");
          if(checkedCount.length < 3){
            $("#categoryCheck").html("최소 3개 이상 선택하시오.");
            return false;
          } else{
            document.category.target = "parentPage"; // 타겟을 부모창으로 설정
            $(opener.document).find("#category").submit(); //부모창으로 submit
            window.close(); //팝업 닫기
          }
        });


      });


      // function parentSubmit(){ //팝업창(자식창)에서 부모창으로 submit방법
      //   window.opener.name = "parentPage"; //부모창의 이름설정
      //   document.category.target = "parentPage"; // 타겟을 부모창으로 설정
      //   document.category.submit();
      //   self.close();
      // }
    </script>
  </head>
  <body>
     <% if(user && user.displayName){ %>
       <input type="text" name="c_search" value="" id="search" placeholder="카테고리 선택">
       <span id="categoryCheck"></span>
       <form name="category" id="category" class="" action="/categorySelected" method="post">
         <h1><%= user.displayName %>님 관심카테고리를 선택해주세요!</h1>
         <% result.forEach(function(e){ %>
           <li><input type="checkbox" name="selected" value="<%=e.c_name%>" id="selectedCount"><%= e.c_name%></li>
         <% }) %>
         <input type="submit" name="" value="등록"  id="save">
       </form>


           <a href="/auth/logout">logout</a>
     <% } else { %>
         <h1>Welcome</h1>
        <ul>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/reg">Register</a></li>
       </ul>
     <% } %>
  </body>
</html>
